<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <button  [class.gold]="!inactiveGold" [disabled] = "inactiveGold" (click) = "inactiveGold = true">Gold</button> <br>
   <button  [class.silver]="!inactiveSilver" [disabled] = "inactiveSilver" (click) = "inactiveSilver = true">Silver</button> <br>
   <button  [class.copper]="!inactiveCopper" [disabled] = "inactiveCopper" (click) = "inactiveCopper = true">Copper</button> <hr>
   <button (click) = "flipAllButtons()">Activate/Deactivate Buttons</button>
</div>